  .user {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    color: beige;
  }

  .inputAva {
    position: relative;
    top: -15px;
    margin-left: 33px;
  }

  .userAva img {
    width: 150px;
    height: 150px;
    padding: 10px;
    margin-left: 15px;
    border-radius: 20%;
    object-fit: cover;
  }

  .banner {
    max-width: 1000px;
    max-height: 60vh;
    object-fit: cover;
  }

  .description .name {
    font-size: 50px;
    color: sandybrown;
    margin-bottom: 10px;
  }

  .aboutMe,
  .fullName {
    padding: 0 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    color: mediumslateblue;
  }

  .contactsTitle {
    margin: 25px 0 5px 20px;
    font-size: 24px;
    color: aqua;
    padding: 0 10px;
    text-decoration: underline;
  }

  .contactTitle {
    color: purple;
    padding: 0 10px;
    margin-left: 20px;
    line-height: 140%;
  }

  .contactValue {
    margin-left: 5px;
    font-size: 20px;
    color: rgb(0, 255, 191);
    margin-bottom: 10px;
  }

  .lookingForAJob,
  .lookingForAJobDescription {
    margin-left: 20px;
    font-size: 24px;
    color: rgb(255, 145, 0);
    padding: 0 10px;
  }

  .buttonSetProfileEditMode button {
    margin-top: 10px;
    margin-left: 30px;
    padding: 5px;
    background: transparent;
    color: #aaaaaa;
    font-size: 16px;
    font-weight: 700;
    border-radius: 7px;
    transition: all 0.3s;
    cursor: pointer;
  }

  .buttonSetProfileEditMode button:hover {
    background-color: rgb(236, 197, 146);
    color: #000;
  }

  .formSummaryError {
    color: red;
  }