  .user{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    color: beige;
  }

  .userAva img{
    width: 120px;
    height: 120px;
    padding: 10px;
    margin-left: 15px;
    border-radius: 15%;
    object-fit:cover;
  }
  
  .banner{
    max-width: 1000px;
    max-height: 60vh;
    object-fit: cover;
  }

  .description .name{
    font-size: 36px;
    color: sandybrown;
    margin-bottom: 10px;
  }

  .aboutMe{
    padding: 0 10px;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 24px;
    color: mediumslateblue;
  }