.pagination{
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}

.pagination span{
    cursor: pointer;
    margin: auto 5px;
}

.selectedPage {
    font-weight: 700;
    color: orangered;
}