.dialoguesInner{
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-areas: 'd m';
    font-family: 'Mulish', sans-serif;
    color: #252733;
    height: 100%;
}

.dialogues{
    grid-area: d;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    background-color: beige;
    border-right: 1px solid ;
}

.dialog a{
    display: inline-block;
    margin-bottom: 30px;
    text-decoration: none;
    color: #252733;
    transition: all .1s;
}

.dialog > .active{
    color: #3751FF;
}

.dialog img{
    position: relative;
    top: 5px;
    margin: auto 5px;
}

.messages{
    grid-area: m;
    font-weight: 400;
    font-size: 16px;
    padding: 60px 10px 130px 40px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: bisque;
}

.message img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.message{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.message p,
.message img{
    display: inline-block;
}

.title{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
    color: goldenrod;
}
