.dialoguesInner{
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-areas: 'd m';
    font-family: 'Mulish', sans-serif;
    color: #252733;
    height: 100%;
}

.dialogues{
    grid-area: d;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    background-color: beige;
    border-right: 1px solid ;
}

.dialog a{
    display: inline-block;
    margin-bottom: 30px;
    text-decoration: none;
    color: #252733;
    transition: all .3s;
}

.dialog > .active{
    color: #3751FF;
}

.dialog img{
    position: relative;
    top: 5px;
    margin: auto 5px;
}

.messages{
    grid-area: m;
    font-weight: 400;
    font-size: 16px;
    margin-top: 60px;
    padding: 5px;
    margin-left: 40px;
}

.message{
    margin-bottom: 20px;
}

.title{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}