.usersInner {
    height: 100%;
    color: beige;
    background-color: #363740;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.usersInner img{
    width: 70px;
    height: 70px;
    border-radius: 15%;
    border: 1px solid goldenrod;
}

.usersInner button{
    width: 100px;
    background-color: rgb(216, 186, 112);
    border-radius: 15%;
}

.user {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    margin: 10px;
    padding: 20px;
    border: 1px solid bisque;
    border-radius: 10px;
}

.avaAndButton {
    text-align: center;
    padding-right: 35px;

}

.avaAndButton button{
    cursor: pointer;
}

.main{
    justify-content: flex-start;
    flex: 1;
    padding: 10px;
}

.main div {
    color:rgb(243, 223, 120);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.main p{
    font-style: italic;
    color: #DDE2FF;
    
}

.location{
    color: rgb(152, 158, 243);
}

.usersInner .getUsersButton {
    margin:20px 150px;
    background-color: red;
    color: aquamarine;
    font-size: 24px;
    width: 250px;
    height: 100px;
    border: 1px solid bisque;
    border-radius: 10px;
}

.selectedPage {
    font-weight: 700;
    color: orangered;
}

.pagination{
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}

.pagination span{
    cursor: pointer;
    margin: auto 5px;
}

