.myPost{
    padding: 15px;
    margin-left: 10px;
    height: auto;

}

.myPost h3{
    color: seagreen;
    margin-bottom: 20px;
    font-size: 24px;
}


/* .newPosts{
    padding: 10px;
    margin-bottom: 10px;
}
.newPosts textarea{
    width: 500px;
    height: 100px;
    font-family: 'Mullish';
    font-size: 20px;
}
.newPosts button{
    width: 100px;
    height: 50px;
    font-family: 'Mullish';
    font-size: 20px;
} */