.formControl{
display: flex;
justify-content: flex-start;
align-items: center;
}

.formControl.error input,
.formControl.error textarea{
    border: 2px red solid;
}

.formControl.error span{
    color: red;
    font-style: italic;
    margin-left: 10px;
}