.header{
    grid-area: h;
    background-color: #363740;
    color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid beige;
    padding: 0 10px;
}

.header img{
    height: 70%;
    margin: 5px 10px 0 5px;
    padding: 5px;
}

.auth{
    flex: 1;
    text-align: right;
}

.logo {
    justify-self: flex-start;
    display: flex;
    align-items: center;
}

.logo img{
    position: relative;
    bottom: 3px;
}

.time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time div:first-child{
    color:lightsalmon
}

.time div:last-child{
    font-size: 16px;
    color:mediumseagreen;
}

