.header{
    grid-area: h;
    background-color: #363740;
    color: beige;
    display: flex;
    align-items: center;
    font-weight: 700;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid beige;
}

.header img{
    height: 70%;
    margin: 5px 10px 0 5px;
    padding: 5px;
  }