.nav{
    grid-area: n;
    background-color: #363740	;
    margin-right: 3px;
    padding: 10px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
  }
  
  .item{
    margin-bottom:10px;
    padding: 5px;
    display: flex;
    justify-content: start;
  }

  .item svg{
    position: relative;
    margin-right: 24px;
    top: 5px;
  }

  .item a{
    cursor: pointer;
    text-decoration: none;
    max-width: 255px;
    width: 100%;
    padding: 18px;
    transition: all .3s;
  }

  .disactive {
    color: #A4A6B3;
  }

  .active {
    position: relative;
    color: #DDE2FF;
    background-color: #9fa2b417;
    border-left: 3px solid #DDE2FF;
    left: -3px;
  }
  
  .active > svg {
    fill: #DDE2FF;
  }

  hr{
    color: beige;
    height: 1px;
    margin: 45px 0 40px;
  }