.nav{
    grid-area: n;
    background-color: #627BB0	;
    margin-right: 3px;
    padding: 10px;
  }
  
  .item{
    margin: 5px;
  }

  a{
    cursor: pointer;
    text-decoration: none;
  }

  .disactive{
    color: #E7D376;
  }

  .active{
    color: red;
  }