.post{
    min-height: 50px;
}
.post img{
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 50%;
}

.postAvaAndText{
    display: flex;
    align-items: center;
}

.post p,
.post span{
    color: steelblue;
    width: 100%;
}

.post span{
display: inline-block;
margin-bottom: 20px;
}

.likeAndDelete {
    display: flex;
    justify-content: start;
}

.likeAndDelete span{
    width: 100px;
    color: chartreuse;
}

.likeAndDelete button{
    display: inline-block;
    height: 30px;
    width: 80px;
    padding: 5px;
    color: #1a287e;
    background-color: tomato;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 700;
}