.post{
    min-height: 50px;
}
.post img{
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 50%;
}

.postAvaAndText{
    display: flex;
    align-items: center;
}

.post p,
.post span{
    color: steelblue;
    width: 100%;
}

.post span{
display: inline-block;
margin-bottom: 20px;
}