.post {
    min-height: 50px;
}

.post img {
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 50%;
}

.postAvaAndText {
    display: flex;
    align-items: center;
}

.post p,
.post span {
    color: steelblue;
    width: 100%;
}

.post span {
    display: inline-block;
    margin-bottom: 20px;
}

.likeAndDelete {
    display: flex;
    justify-content: start;
}

.likeAndDelete span {
    width: 100px;
    color: chartreuse;
}

.likeAndDelete button {
    max-height: 28px;
    background: transparent;
    color: #aaaaaa;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s;
    cursor: pointer;
}

.likeAndDelete button:hover {
    color: #1a287e;
    background-color: tomato;
}