@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

.app-wrapper{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  "n c";
  width: 100%;
  min-height: 100vh;
  background-color: #F7F8FC;
  box-sizing: border-box;
}

.app-wrapper-content{
  grid-area: c;
  background-color: #F7F8FC;
}

